name: Unit Tests

on:
  - pull_request

jobs:
  run-unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Setup Go
      uses: actions/setup-go@v2-beta
      with:
        go-version: '^1.13.1'

    - name: Run Unit Tests
      run: go test -v
